body {
    color: rgb(66, 66, 66);
    padding: 0 16px;
  }
  li:before {
    content: '• ';
    width: 3em;
  }

  #progressList {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 16px;
  }

  #btnPopulate {
    color: black;
    background-color: bisque;
  }

  #textarea {
     resize: none; /* 禁止浏览器默认的调整大小功能 */
     overflow: hidden; /* 隐藏超出部分 */
     padding: 5px; /* 为了更好的视觉效果 */
     box-sizing: border-box; /* 确保 padding 和 border 不会增加元素的总宽度和高度 */
     min-height: 50px; /* 设置最小高度 */
     width:100%
  }

  #batchReplace {
    margin-top: 20px;
  }

  .searchField {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .searchText,
  .replaceText {
    width: 200px;
    margin-right: 10px;
  }

  .removeSearchField {
    margin-left: 10px;
  }


  sp-textarea {
    overflow: auto;
    padding-right: 5px; /* 避免滚动条覆盖文字 */
  }
